<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://mgau-knightexchange-itec428620160501094949.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>mgau-knightexchange-itec428620160501094949.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MGAU-KnightExchange-ITEC428620160501094949</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MGAU-KnightExchange-ITEC428620160501094949</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:mgau-knightexchange-itec428620160501094949dbserver.database.windows.net,1433;Initial Catalog=MGAU-KnightExchange-ITEC428620160501094949_db;User ID=myAdmin@mgau-knightexchange-itec428620160501094949dbserver;Password=SleepWell2day!" Name="Data Source=tcp:mgau-knightexchange-itec428620160501094949dbserver.database.windows.net,1433;Initial Catalog=MGAU-KnightExchange-ITEC428620160501094949_db;User Id=myAdmin@mgau-knightexchange-itec428620160501094949dbserver;Password=SleepWell2day!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MGAU_KnightExchange_ITEC4286.ApplicationDbContext, MGAU-KnightExchange-ITEC4286" MigrationConfiguration="MGAU_KnightExchange_ITEC4286.Migrations.Configuration, MGAU-KnightExchange-ITEC4286" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mgau-knightexchange-itec428620160501094949dbserver.database.windows.net,1433;Initial Catalog=MGAU-KnightExchange-ITEC428620160501094949_db;User Id=myAdmin@mgau-knightexchange-itec428620160501094949dbserver;Password=SleepWell2day!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>